<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>encryption webapp</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}">
</head>
<body>
   <h1>VERY SECURE TEXT ENCRYPTION!!!!!!!!!!</h1>

    <form id="createKeyForm">
        <input type="text" id="keyName" placeholder="name" required>
        <input type="password" id="password" placeholder="password" required>
        <input type="password" id="masterPassword" placeholder="masterPassword" required>
        <button type="submit">create Key</button>
    </form>

    <form id="encryptForm">
        <textarea id="plaintext" placeholder="tekst om te versleuten" required></textarea>
        <input type="text" id="encryptedKeyName" placeholder="key name" required>
        <input type="password" id="encryptedMasterPassword" placeholder="maser password" required>
        <button type="submit">encrypt</button>
    </form>

    <div id="encryptedResult" style="display:none">
        <h3>encrypt tekst: </h3>
        <textarea id="encryptedText" readonly></textarea>
    </div>

   <form id="decryptForm">
        <textarea id="decipherText" placeholder="decrypted tekst" required></textarea>
        <input type="text" id="decryptedKeyName" placeholder="key name" required>
        <input type="password" id="decryptedMasterPassword" placeholder="maser password" required>
        <button type="submit">decrypt</button>
    </form>

    <div id="decryptedResult" style="display:none">
            <h3>decrypt tekst: </h3>
            <textarea id="decryptedText" readonly></textarea>
    </div>

</body>
</html>