<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>encryption webapp</title>
</head>
<body>
   <div class="container">
       <h1>secure</h1>

       <div class="mode-toggle">
           <button id="encryptBtn" class="active">encrypt</button>
           <button id="decryptBtn">decrypt</button>
       </div>

       <form id="encryptForm">
           <div>
               <label id="textLabel">encrypt this text: </label>
               <textarea id="inputText" rows="5" required></textarea>
           </div>

           <div>
               <label>password: </label>
               <input type="password" id="password" required>
           </div>

           <button type="submit"> id="submitBtn">ecnrypt text</button>
           <button type="button" id="clearBtn">clear</button>
       </form>

       <div id="resultSection" style="display: none">
           <h3 id="resultTitle">result: </h3>
           <div id="resultText"></div>
           <button id="copyBtn">copy</button>
       </div>

       <div id="successAlert" style="display: none;"></div>
       <div id="errorAlert" style="display: none;"></div>

   </div>
</body>
</html>